

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}

body{
    background-color: rgb(244,245,244);
}


.h-100vh{
   height: 100vh;
}

.home{
   position: relative;
    width: 100%;
    max-width: 100%;
    background:url("../imgs/hero-bg.jpg") no-repeat center
}
.home .navbar{
    position: relative;
    z-index: 2;
 
}
.home h1::after{
    content: "";
    animation: typing infinite 10s;
}
@keyframes typing {
    0%{content: "D";}
    2%{content: "De";}
    4%{content: "Dev";}
    6%{content: "Deve";}
    8%{content: "Devel";}
    10%{content: "Develo";}
    12%{content: "Develop";}
    14%{content: "Develope";}
    16%{content: "Developer";}
    18%{content: "Develope";}
    20%{content: "Develop";}
    22%{content: "Develo";}
    24%{content: "Devel";}
    26%{content: "Deve";}
    28%{content: "Dev";}
    30%{content: "De";}
    32%{content: "D";}
    34%{content: "De";}
    36%{content: "Des";}
    38%{content: "Desi";}
    40%{content: "Desig";}
    42%{content: "Design";}
    44%{content: "Desig";}
    46%{content: "Desi";}
    48%{content: "Des";}
    50%{content: "De";}
    52%{content: "D";}
}

.home .fixed-top{
    background-color: rgba(0, 0, 0, 0.5)
}
.fs-28{
    font-style: 28px;
}
.fw-600{
    font-weight: 600;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}


.home .navbar li .nav-link{
      position: relative;

}
.home .navbar .navbar-collapse{
    flex-grow: 0;
}
.fs-72{
    font-style: -72px;
}
.fs-18{
    font-style: 18px;
}
.fs-16{
    font-style: 16px;
}
.fs-32{
    font-style: 32px;
}
.mt150{
    margin-top: 150px;
}
.mt10{
    margin-top: 10px;
}
.home .textme{
    position: relative;
    z-index: 2;
}
.home .textme2{
 
    position: relative;
    z-index: 2;
   
}


.home::before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}


/* about */
.about{
    background-color: rgb(254,255,254);
}




.about .p-20{
    font-style: 20px;
    font-weight: 300;
}
.about .hr {
    width: 15%;
    height: 2px;

}

.about .f-32{
    font-size: 32px;
    font-weight: 500;
}
/* services */

.services{
    margin-top: 50px;
    padding-top: 20px;
}
.services .icon{
    border: 10px solid rgb(1,121,255);
    margin-top:30px;
    padding: 15px 20px 15px 20px ;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: 400;
}
.services .icon:hover{
    background-color: rgb(1,121,255);
    border:10px solid rgb(148, 190, 238);
    color: black;
   
}

.services .icon .one{
   color: rgb(86, 95, 176);

}
.services .icon .one:hover{
    color: black;
}
.card{
    --bs-card-border-width:0
}

.services .hrr{
     margin: auto;
     width: 5%;
     height: 7px;
}
.services .servh1{
    font-size: 48px;
    font-weight: 700;
}
.services .card-text{
    color: rgb(120,139,168);
}

.services h3{
    font-size: 22px;
    font-weight: 500;
}

/* counter */
.counter{
    background-image: url("../imgs/counters-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 50px;

   
        
      
}

.counter::before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
 
    background-color: rgba(111, 111, 241, 0.5);
}

.counter .row .card-text{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 25px;
    font-weight: 500;
}


.counter .row .num{
    position: relative;
    z-index: 2;
    font-size: 25px;
    font-weight: 700;
}
/* 
.counter .layout{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(81, 81, 241, 0.5);
    height: 100%;
    width: 100%;
} */
.counter .card2{
    background-color: transparent;
    color: white;

}

.plus{
    margin: auto ;
    width: 10%;
    margin-right: 25px;

  
}
.plus .iconplus{
    padding: 3px;
    margin: 3px;
}
.blog{
    height: 100%;
      position: relative;
    background:url("../imgs/overlay-bg.jpg") no-repeat fixed

}
.blog::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 225, 0.5);

}

.blog .imgcar{
    
    margin: auto;
    padding: 60px;
    position: relative;
    z-index: 2;
}
.blog .carousel-indicator{
    position: absolute;
    top: 8px;
}

.blog .carousel-caption{
  position: relative;
  bottom:  -2rem;
  z-index: 2;
  text-align: center;
  left: 20px;

}
.blog .carousel-indicators{
    position: absolute;
    top: 260px;
}

.services .imgman{
    width: 40px;
    height: 40px;
}



/* contact */
.contact{
   height: 100%;
    background:url("../imgs/overlay-bg.jpg") no-repeat center fixed;
    position: relative;
}
.contact::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 225, 0.5);
}
.contact .innercontact{
    position: relative;
    z-index: 2;
}
.contact .hrr3{
    
    width: 10%;
    height: 7px;
    background-color: rgb(1,121,255); ;
}

.contact .btn{
    position: relative;
    left: 215px;

}
.contact .iconcontact:hover{
 

   background-color:  rgb(1,121,255); ;
   border: 1px solid white;
}
.contact .iconcontact:hover .brand{
    color: aliceblue;
 
}

/* footer */

.footer .iconarrow{
    direction: rtl;
    float: right;
    border-radius: 50%;
     border: 1px solid white;
     width: 50px;

   

}

.footer .iconarrow a .arrow{
   
    color: white;
    font-size: 20px;
}